Cython
numpy
lap==0.4.0
scipy==1.4.1
motmetrics==1.2.0
cython_bbox==0.1.3
opencv_python==4.5.1.48
torch==1.7.1
numba==0.53.1
pandas==1.2.1
torchvision==0.8.2
matplotlib==3.3.4
scikit_learn==0.24.2
ffmpeg
ffmpeg_python
